<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product List</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>Product List</h3>

    <hr/>
    <a th:href="@{/store_productAddForm}" class="btn btn-primary">Add Product</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="category-table">

        <thead>
        <tr>
            <th>UPC</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Promotional Product</th>
            <th>Action</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productList}">
            <td th:text="${product.upc}" />
            <td th:text="${product.product_name}" />
            <td th:text="${product.selling_price}" />
            <td th:text="${product.products_number}" />
            <td th:text="${product.promotional_product}" />

            <td>
              <a th:href="@{/storeProductEditForm(id=${product.upc})}" class="btn btn-info">Update</a>
              <a th:href="@{/deleteProduct(id=${product.upc})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"></script>
<!--<script>
    $(document).ready(function () {
        $("#category-table").DataTable({
            'aoColumnDefs' : [{
                'bSortable' : false,
                'aTargets' : [-1]
            }]
        });
    })
</script>-->
</body>