<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Checks List</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>Cards List</h3>

    <hr/>
<!--    <a th:href="@{/addCategoryForm}" class="btn btn-primary">Add Category</a>-->
    <br/><br/>
    <table class="table table-bordered table-striped" id="customerCard-table">

        <thead>
        <tr>
            <th>Card Number</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Phone NUmber</th>
            <th>City</th>
            <th>Street</th>
            <th>Zip code</th>
            <th>Percent</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customerCard: ${customerCardList}">
            <td th:text="${customerCard.card_number}" />
            <td th:text="${customerCard.cust_surname}" />
            <td th:text="${customerCard.cust_name}" />
            <td th:text="${customerCard.cust_patronymic}" />
            <td th:text="${customerCard.phone_number}" />
            <td th:text="${customerCard.city}" />
            <td th:text="${customerCard.street}" />
            <td th:text="${customerCard.zip_code}" />
            <td th:text="${customerCard.cust_percent}" />

<!--                <a th:href="@{/showEditForm(id=${})}" class="btn btn-info">Update</a>-->
<!--                <a th:href="@{/deleteCategory(id=${})}" class="btn btn-danger ml-2">Delete</a>-->
            </td>
        </tr>
        </tbody>

    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#customerCard-table").DataTable({
            'aoColumnDefs' : [{
                'bSortable' : false,
                'aTargets' : [-1]
            }]
        });
    })
</script>
</body>