<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Customer Card</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Add New Customer Card</h3>
    <hr/>

    <form th:action="@{/saveCustomerCard}" th:object="${customerCard}" method="POST">

        <input type="text" th:field="*{card_number}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{cust_surname}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{cust_name}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{cust_patronymic}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{phone_number}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{city}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{street}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{zip_code}" class="form-control col-4 mb-4" placeholder="Enter Name" />
        <input type="text" th:field="*{cust_percent}" class="form-control col-4 mb-4" placeholder="Enter Name" />

        <button type="submit" class="btn btn-primary col-2">Save</button>
<!--        <input type="hidden" th:field="*{card_number}" />-->
    </form>
    <hr/>
    <a th:href="@{/customer_cards}">Back to Customer Cards</a>
</div>

</body>
</html>